/* Here starts the product section */
.product-main
{
    grid-area: main;    
}

.product-main .products-section
{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.products-section .title-section
{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: 180px;
    text-align: start;
    padding: 0 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-section .title-section h1
{
    font-size: 3.2rem;
    color: var(--black-orange);
}


.products-section .products-container
{
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-width: 900px;
    margin: auto;
    padding-bottom: 3rem;
}

.products-container__product
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-block-end: 2.8rem;
}

.products-container__product .image-container
{
    width: calc(var(--column-size) * 4);
    margin: 0 auto;
    margin-bottom: 2rem;
}

.products-container__product .image-container img
{
    width: 100%;
    max-width: 180px;
    display: block;
    margin: auto;
}

.products-container__product .description-container
{
    width: calc(var(--column-size) * 8);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.products-container__product .description-container h2
{
    font-size: var(--tall-font-size);
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 1rem;
    text-align: center;
}

.products-container__product .description-container p
{
    font-size: var(--short-font-size);
}

/* Here finishes the product section */

/* Aquí empiezan los media queries */
@media (min-width: 600px)
{
    .products-container__product
    {
        flex-direction: row;
        height: 240px;
    }

    .products-container__product:nth-child(2)
    {
        flex-direction: row-reverse;
    }

    .products-container__product .image-container
    {
        margin-bottom: 0;
        display: grid;
        place-items: center;
    }

    .products-container__product .description-container
    {
        padding: 0 2rem;
    }

    .products-container__product .description-container h2
    {
        font-size: var(--big-font-size);
        text-align: start;
    }

    .products-container__product .description-container p
    {
        font-size: var(--mid-font-size);
    }

    .products-section .title-section
    {
        height: 250px;
        justify-content: flex-start;
    }

    .products-section .title-section h1
    {
        font-size: var(--huge-font-size);
        margin-bottom: -5rem;
    }
}